#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.header-box {
  width: 100%;
  background-color: #2a1c37;
  color: white;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(52, 52, 52);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-logo {
  height: 50px;
  margin-left: 20px;
}

.header-title {
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.topics-box {
  width: 20%;
  background-color: #372a43;
  border-right: 1px solid rgb(97, 97, 97);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 85px);
  position: fixed;
  top: 85px;
  left: 0;
}

.topics-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.topic-card {
  text-transform: capitalize;
  margin-top: 20px;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
}

.topic-card a {
  text-decoration: none;
  color: inherit;
}

.topic-card:hover {
  background-color: #4a4152;
}

.topic-card.active {
  background-color: #6f607c;
  font-weight: bold;
  border-left: 5px solid white;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: auto;
  background-color: #6f607c;
  border-top: 1px solid rgb(97, 97, 97);
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-username {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.sort-by-box {
  align-self: flex-end;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: white;
}

.sort-by-box label {
  margin-right: 0.5rem;
  font-weight: bold;
  color: #ffffff;
}

.sort-by-box select {
  background-color: #100e12;
  color: white;
  border: 2px solid #6f607c;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.0rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.sort-by-box select:focus {
  outline: none;
  border-color: #4a4152; /
}

.sort-by-box select:hover {
  background-color: #4a4152;
}


.sort-by-box select option {
  background-color: #372a43;
  color: white;
}


.cards-box {
  padding: 1rem;
  width:  calc(85% - 100px);
  margin-left: calc(15% + 100px);
  display: grid;
  justify-items: center;
  /* flex-direction: column; */
  /* align-items: flex-end; */
  /* overflow-y: auto;  */
  height: calc(100vh - 100px);
}

.articles-list {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* justify-content: space-around; */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.article-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  background-color: #555555;
  box-sizing: border-box;
  height: 100%;
  max-width: 100%;
  position: relative;
}


.article-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;  
  margin-bottom: 50px;
  border-radius: 5px;
}

.article-card-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: auto;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}


/* .articles-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}

.article-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
} */

.article-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.article-card-header .author {
  font-weight: bold;
}

.article-card-header .date {
  color: white;
}

.article-card-title {
  margin: 10px 0;
}

.article-card img {
  width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 5px;
}

/* .article-card-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
} */

.singular-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.singular-article {
  width: 100%;
  max-width: 1200px;
  background-color: #555555;
  padding: 2rem;
  border-radius: 5px;
  margin: 0;
  box-sizing: border-box;
}

.singular-article img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
}

.back-to-articles-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 1rem;
}
.add-comment-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 20px;
}

.comments-list {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.comments-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #555555;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
;
}

.comment-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment-card-header .author {
  font-weight: bold;
}

.comment-card-header .date {
  color: white;
}

.comment-card-title {
  margin: 10px 0;
}

.comment-card img {
  width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 5px;
}

.comment-card-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.new-comment-card {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #444;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.new-comment-card h2 {
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.new-comment-form {
  display: flex;
  flex-direction: column;
}

.new-comment-form label {
  color: white;
  margin-bottom: 10px;
}

.new-comment-form textarea {
  resize: none;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  background-color: #333;
  color: white;
}

.new-comment-form textarea:focus {
  outline: none;
  border: 2px solid #666;
}

.submit-button {
  align-self: center;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .topics-box {
    width: 100%;
    position: relative;
    background-color: #333;
    border: none;
    border-bottom: 1px solid rgb(97, 97, 97);
    cursor: pointer;
  }

  .topics-box::after {
    content: "☰ Topics";
    color: white;
    padding: 1rem;
    display: block;
    text-align: left;
    font-weight: bold;
  }

  .topics-list {
    display: none;
    flex-direction: column;
    background-color: #333;
    padding: 0;
    list-style: none;
    margin: 0;
    border-top: 1px solid rgb(97, 97, 97);
  }

  .topics-box.open .topics-list {
    display: flex;
  }


  .cards-box {
    width: 90%;
    max-width: 600px;
    padding: 1rem;
    margin: 0  auto;
  }

  .sort-by-box {
    width: 100%;
    text-align: right;
    margin-bottom: 1rem;
  }

  .articles-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
  }

  .comment-card {
    width: 100%;
  }

  .singular-article-container {
    padding: 1rem;
    max-width: 100%;
  }

  .singular-article {
    width: 100%;
  }

  .comment-card {
    width: 100%;
  }
}
